SECRET_KEY=ffy-0@7vp4c8sde!@a=g+f%xm7r8z*+f_y5_ppxt!=fin8*$ew
#======Local Database Configuration=======
#DB_NAME=ecommerce_db
#DB_USER=admin
#DB_PASSWORD=root123
#DB_HOST=localhost
#DB_PORT=3306


DB_HOST=10.0.0.27
DB_PORT=3306
DB_NAME=ecommerce_db
DB_USER=root
DB_PASSWORD=Admin123@#
